.myUnderline .myUnderline-child:after, .myUnderline-hover:hover .myUnderline-child:after{
    position: absolute;
    right: 0px;
    bottom: 0px;
    transform: translate(0%, 0%);
    width: 100%;
    height: 2px;
    content: '';
    @apply bg-indigo-700;
}
.myUnderline-hover:hover .myUnderline-child:after{
  transition: 0.5s;
  @apply slit-in-vertical;
}

#TAILWINDLOADER{
    @apply h-16;
    @apply h-20;
}


.tilt-in-right-2 {
	animation: tilt-in-right-2 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slit-in-vertical {
	animation: slit-in-vertical 0.2s ease-out both;
}

@keyframes tilt-in-right-2 {
    0% {
      transform: rotateX(30deg) translateX(300px) skewX(-30deg);
      opacity: 0;
    }
    100% {
      transform: rotateX(0deg) translateX(0) skewX(0deg);
      opacity: 1;
    }
  }

@keyframes slit-in-vertical {
  0% {
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    transform: translateZ(0) rotateY(0);
  }
}

.jello-horizontal {
	animation: jello-horizontal 0.6s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
  
}@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}